/* reset button and input width, this includes #dda-export-btn */
input, button {
    width: auto;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#dda-template-body input {
    width: auto !important;
}

.ui-widget button, .ui-widget-header button {
    margin: auto auto;
}

#dda-template-table{
    width: 100%;
}

#dda-template-body > .alpaca-fieldset > legend.alpaca-fieldset-legend {
    display: none !important;
}
#dda-template-body > .alpaca-fieldset {
    border: 0px none !important;
}
#dda-template-body .alpaca-fieldset-legend {
    color: #444;
    background-image: linear-gradient(#E5E5E5, #DBDBDB);
    background-size: 100% auto;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #F5F5F5;
}

#dda-template-body .ui-button  {
    background-image: linear-gradient(#fff, #DBDBDB);
}
#dda-template-body .ui-button.ui-state-active  {
    background-image: linear-gradient(#E5E5E5, #DBDBDB);
}
#dda-template-body .ui-button:hover {
    color: #000;
}

.dda-add-element {
    cursor: pointer;
    background-image: linear-gradient(#E5E5E5, #DBDBDB);
    background-size: 100% auto;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #F5F5F5;
}
.dda-add-element h3 {
    padding: 0;
    border: 0 none;
}
.ui-draggable-dragging {
    z-index: 9999;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
}

.dda-array-toolbar-container-right {
    margin-top: 2px;
    float:right;
}

.dda-ref-toggles > .ui-button {
    margin-left: 0px !important;
}

.dda-autocomplete-cat {
    font-weight: bold;
    padding: .2em .4em;
    margin: .3em 0 .2em;
    line-height: 1.5;
}

.dda-autocomplete-desc {
    font-weight: normal;
}


.dda-ref-toggle{
   color: black !important;
}
.dda-toggle-active {
    background-image: linear-gradient(#E5E5E5, #DBDBDB) !important;  
}


/* builder styles */
#grp-content-container #dda-container-tabs > .ui-widget-content {
    padding: 20px 0 !important;
}

#dda-pool-elements {
    padding-left: 0;
    padding-right: 0;
}

#dda-pool-list, #dda-indicator-list {
    background: #fff;
    min-height: 200px;
}

#dda-pool-list > .dda-add-element, #dda-indicator-list > .dda-add-element {
    margin-top: 10px;
    margin-bottom: 15px;
}

#dda-indicator-list > .dda-add-element table, #dda-pool-list > .dda-add-element table{
    width: 100%;
}
#dda-indicator-list > .dda-add-element table textarea, #dda-pool-list > .dda-add-element table textarea {
    width: 100%;
    resize: none;
}

#dda-pool-list .dda-pool-element {
    margin-top: 20px;
}

/* .dda-obs-add, .dda-obs-remove, .dda-ind-remove { */
/*     border-radius: 0px; */
/*     color: #000; */
/*     margin-top: 4px !important; */
/* } */
/* #dda-indicator-add-btn { */
/*     color: #000; */
/*     font-size: 11px; */
/*     border-radius: 0px; */
/* } */

#dda-indicator-add-btn-menu {
    position: absolute;
    top: 30px;
    right:10px;
}

.dda-dropzone-highlight {
    border: 1px dashed #888888;
    min-height: 20px;
    margin-top: 4px;
}

.dda-dropzone-hover {
  background-color: #EEEEEE;
  border: 1px dashed #888888;
  height: 50px;
}

#dda-package-indicators .dda-add-element {
    margin-bottom: 10px;
}

#dda-pool-list .helptext {
    margin-top: 5px;
    display: block;
}

.dda-package_top_drop {
    margin-bottom: 10px;
}

.dda-package_top_drop p {
    font-style: italic;
    text-align: center;
    margin-top: 2px;
    visibility: hidden;
}

.dda-dropzone-highlight.dda-package_top_drop p {
    visibility: visible;
}
.dda-dropzone-hover.dda-package_top_drop p {
    margin-top: 15px;
}


#relation-pane {
    width: 100%;
    height: 500px;
    background-color: #fff;
}





.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}
