{% extends "admin/base_site.html" %}

{% load staticfiles %}

        {% block title %}{{ title }}{% endblock %}

{% block content %}
	<p>Content goes here</p>
{% endblock content %}


{% block javascripts %}
  {{ block.super }}
  <script type="application/javascript">
      // Reuse admin jquery library
      var jQuery = django.jQuery;
      var $ = django.jQuery;
  </script>
  <script src="{% static 'js/alpaca.js' %}"></script>
  <script src="{% static 'js/ReferenceArray.js' %}"></script>
  <script src="{% static 'js/DnsArray.js' %}"></script>
  <script src="{% static 'js/dingos_authoring.js' %}"></script>
{% endblock javascripts %}

{% block extrastyle %}
  <link href="{% static 'css/dingos_authoring.css' %}" rel="stylesheet">
  <link href="{% static 'css/alpaca.css' %}" rel="stylesheet">
  <link href="{% static 'css/alpaca-jqueryui.css' %}" rel="stylesheet">
{% endblock extrastyle%}
